@import 'bootstrap/scss/bootstrap';
.full-page {
  background: url('/assets/images/background.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
